[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=kcmshell6 klassystyleconfig
Icon=preferences-desktop-theme
Name=Klassy: Application Style
Name[fr]=Klassy: Style d'application
